body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.avatar {
    width: 150px;
    border-radius: 40px;
    box-shadow: 12px 12px 12px rgba(242, 156, 13, 0.3);
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #84a98c;
    color: #2b2839;
    border-bottom: 5px solid #a7c957;
    box-shadow: 36px 18px 25px rgba(0, 0, 0, 0.3);
    text-shadow: 2px 2px 8px #a2d2ff;
}

.border-blue {
    border: 1px dotted blue;
}

.card:hover {
    background: #ffb703;
}


